$btn-clr-delete:  #c62828;
$btn-clr-edit: #2e7d32;
$btn-clr-create: #2196f3;
$btn-clr-submit: #26a69a;

html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: .7em;
    padding-bottom: .7em;
    padding-left: .5em;
    padding-right: .5em;
    background-color: #4267b2;
    color: #fff;

    h1 {
        font-size: 1.5rem;
        font-weight: 500;
    }

    nav {
        display: flex;

        .nav-links a {
            margin-left: 1em;
            font-style: none;
            color: inherit
        }
    }    
}

body {
    background: #efefef;
}

.container {
    padding-top: 2em;
    max-width: 60%;
    margin: 0 auto;

    .card {
        background-color: #fff;
        padding: 1em;
        margin-bottom: 1em;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);


        .card-footer {
            margin-top: 1.5em;
        }
    }
}

.section-title {
    font-size: 1.5em;
    margin-bottom: .5em;
}

.btn {
    padding: 5px 20px; 
    color: #fff;
    font-size: .8rem;
    text-decoration: none;
    font-weight: 500;

    &:hover {
        opacity: .9;
    }
}

.btn-delete {
    background-color: $btn-clr-delete;
}

.btn-edit {
    background-color: $btn-clr-edit;
}

.btn-create {
    background-color: $btn-clr-create;
}

.btn-submit {
    background-color: $btn-clr-submit;
}

form {
    label {
        opacity: .5;

        &:focus {
            opacity: 1;
        }
    }

    input {
        background: transparent;
        width: 100%;
        border-bottom: 1px solid green;

        &:focus {
            outline: none;
        }
    }

    textarea {
        display: block;
        width: 100%;
        border-bottom: 1px solid green;

        &:focus {
            outline: none;
        }
    }
}

.card.card-bg-inherit {
    background-color: inherit;
    border: 0;
    box-shadow: none;

        textarea {
            background-color: inherit;
        }
}

.form-group {
    margin-bottom: 1em !important;

    input {
        padding: .5em;
    }
}

.error-message {
    background-color: #c62828c9;
    padding: .5em;
    color: #fff;
    margin-bottom: 1.5em;
}

.card-header {
    border-bottom: 1px solid #efefef;
    padding-bottom: 1em;
    margin-bottom: 1em;
    font-size: 1.2rem;
    opacity: .5;
}

.card-footer {
    font-size: .8rem;
    
    a { 
        color: #fc6e10;
        margin-left: .5em;
        
        &:hover {
            opacity: .7;
            text-decoration: underline;
        }
    }
}